[package]
name = "amadeus-aws"
version = "0.1.2"
license = "Apache-2.0"
authors = ["Alec Mocatta <alec@mocatta.net>"]
categories = ["concurrency", "science", "database", "parser-implementations", "text-processing"]
keywords = ["amadeus", "data", "aws", "s3", "logs"]
description = """
Harmonious distributed data analysis in Rust.
"""
repository = "https://github.com/alecmocatta/amadeus"
homepage = "https://github.com/alecmocatta/amadeus"
documentation = "https://docs.rs/amadeus/0.1.2"
readme = "README.md"
edition = "2018"

[badges]
azure-devops = { project = "alecmocatta/amadeus", pipeline = "tests" }
maintenance = { status = "actively-developed" }

[dependencies]
amadeus-core = { version = "=0.1.2", path = "../amadeus-core" }
amadeus-types = { version = "=0.1.2", path = "../amadeus-types" }
chrono = { version = "0.4", default-features = false }
flate2 = "1.0"
futures-01 = { package = "futures", version = "0.1" }
futures-preview = { version = "=0.3.0-alpha.18", features = ["compat"] }
http = "0.1"
once_cell = "1.0"
rusoto_core = "0.40"
rusoto_s3 = "0.40"
serde_closure = "0.1"
serde = { version = "1.0", features = ["derive"] }
tokio = "0.1.7"
tokio-retry = "0.2"
url = { version = "2.1", features = ["serde"] }
